
--find-links https://download.pytorch.org/whl/torch_stable.html

git+https://github.com/nghorbani/body_visualizer
git+https://github.com/MPI-IS/configer.git
git+https://github.com/MPI-IS/mesh.git
git+https://github.com/nghorbani/human_body_prior.git

torch==1.10.1+cu102
torchtext==0.11.1
torchvision==0.11.2
nltk
matplotlib
opencv-python
transformers
trimesh[easy]
pyrender
roma
streamlit==1.23.1
tabulate
tensorboard==2.11.2
setuptools==59.5.0
bert_score
tqdm